.M-About {
  background-color: white;
  min-height: 100vh;
  color: black;
  text-align: center;
}

.M-About-us {
  font-family: 'Bungee';
  font-size: 65%;
}

.M-Alex {
  float: left;
  width: 50%;
  text-align: center;
}

.M-Alex-name {
  font-family: 'Bungee';
}

.M-Alex-img {
  margin-top: 15%;
  width: 75%;
  height: 75%;
}

.M-Alex-desc {
  font-family: 'Bellota text';
}

.M-Chan-name {
  font-family: 'Bungee';
}

.M-Chan-img {
  margin-top: 15%;
  width: 75%;
  height: 75%;
}

.M-Chan-desc {
  font-family: 'Bellota text';
}

.M-Tarek {
  float: left;
  width: 50%;
  text-align: center;
}

.M-Tarek-name {
  font-family: 'Bungee';
}

.M-Tarek-img {
  margin-top: 15%;
  width: 75%;
  height: 75%;
}

.M-Tarek-desc {
  font-family: 'Bellota text';
}

.M-Tim-name {
  font-family: 'Bungee';
}

.M-Tim-img {
  margin-top: 15%;
  width: 75%;
  height: 75%;
}

.M-Tim-desc {
  font-family: 'Bellota text';
}

.M-About-img::after {
  content: "";
  display: table;
  clear: both;
}
